<div class="who ">
    <div class="container">
        <div class="row">
            <p style="font-size: 5rem;color: #32CD32; text-align:center ;margin-bottom: 9rem;">WHO ARE WE?</p>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="assets/images/slider2.jpg" width="500px ">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, harum voluptates tempore cupiditate quibusdam dolores nisi dolorem nam! Nostrum expedita quam aliquam sapiente unde? Ipsam quidem accusamus voluptatum iure iusto.
                Eligendi totam exercitationem recusandae dolorum dolores. Qui consequuntur dolore dolor at dolorem necessitatibus? Est reprehenderit, exercitationem cupiditate molestiae temporibus 
                quos incidunt suscipit vitae doloremque atque nam ipsum? Illum, est repudiandae!
                Natus animi neque possimus libero exercitationem dolores aspernatur, 
                ducimus pariatur reiciendis molestias aliquid culpa. Voluptas sapiente, tenetur veritatis doloribus perspiciatis ipsa ullam doloremque eligendi modi eveniet architecto. Quidem, itaque vitae.</p>           
             </div>
        </div>
    </div>
</div>
