<footer>
    <div class="content"><div style="font-size: 1.5rem;color: white;">ORGANIC</div>We hope you enjoyed visiting our website. For more information, 
    you can contact us via the social media platforms or the website directly Lorem ipsu,
    you can contact us via the social media platforms or the website directly Lorem ipsum
</div>
    <div >
      <a  href="#"><i class="fa-brands fa-facebook-f"></i> FACEBOOK</a>
      <a href="#"><i class="fa-brands fa-instagram"></i> INSTAGRAM</a>
      <a href="#"><i class="fa-brands fa-twitter"></i> TWITTER</a>
    </div>
    <div >
      <a href="#"><i class="fa-brands fa-pinterest"></i> PINTEREST</a>
      <a href="./contactUs.html"><i class="fa-solid fa-phone"></i> CONTACT US</a>

    </div>
  </footer>
