footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    margin-top: 10px;
    background-color:#32CD32;
  }
  
  footer div{
    display: flex;
    flex-direction: column;
  
  }
  footer div a {
    padding: 20px;
    text-decoration: none;
    color: white;
  
  }
  footer div a:hover {
    
    
    color:black;
  
  }
  
  footer .content{
    width: 30%;
    
   
  }
 