<nav class="navbar mynav fixed-top">
    <div class="container">
      <a class="navbar-brand mylogo" routerLink="home">
        ORGANIC
      </a>
      <div>
      <a class="nav-pages" routerLink="home" routerLinkActive="test" [routerLinkActiveOptions]="{exact:true}">HOME</a>
      <a class="nav-pages" routerLink="user" routerLinkActive="test" [routerLinkActiveOptions]="{exact:true}">users</a>
      <a class="nav-pages" routerLink="form" routerLinkActive="test" [routerLinkActiveOptions]="{exact:true}">form</a>
      <a class="nav-pages" href="/"><i class="fas fa-shopping-cart"></i></a>
      </div>
    </div>
  </nav>
